<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src='{{ url_for("static", filename="andor_wordle/main_script.js")}}'></script>
    <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="andor_wordle/main_style.css")}}'>
    <title>Andor Wordle</title>
</head>
<body>

    <h1>andor wordle</h1>

    <form method="post">
    <div class="search">
        <input class="character_search" type="search" list="characters" autocomplete="off" name="wordle_input" placeholder="Pick a Character">
    </div>
    </form>

    <datalist id="characters">
        {% for name in WORDLE_DATA %}
            {% if name != "NAME" %}
            <option value="{{name}}" />
            {% endif %}
        {% endfor %}
      </datalist>

    <table>
        <tr>
                    <th>Name</th>
            {% for header in WORDLE_DATA["NAME"] %}
                {% if header == "Episodes" %}
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th>7</th>
                    <th>8</th>
                    <th>9</th>
                    <th>10</th>
                    <th>11</th>
                    <th>12</th>
                {% else %}
                    <th>{{ header }}</th>
                {% endif %}
            {% endfor %}
        </tr>

        {% for name in entered_data %}
        <tr>
            <td>{{ name }}</td>
            {% for i in WORDLE_DATA[name] %}

            <td>{{ i }}</td>

            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>
</html>